In [1]:
import sqlalchemy as db

In [8]:
engine=db.\
create_engine('mysql+mysqlconnector://root:akm@localhost:3306/myflaskapp')

In [10]:
connection=engine.connect()

In [11]:
connection

In [13]:
results=engine.execute('select*from quotes')

In [16]:
first_result=results.fetchone()

In [17]:
first_result

(3, 'Life Related Quotes', 'amit', '<p><strong>Life has no CTRL+Z</strong></p>', datetime.datetime(2019, 7, 9, 14, 37, 41))

In [18]:
type(first_result)

sqlalchemy.engine.result.RowProxy

# ORM########

In [21]:
from sqlalchemy.orm import sessionmaker

In [22]:
session=sessionmaker()

In [23]:
session.configure(bind=engine)

In [24]:
my_session=session()

In [29]:
print(my_session)

<sqlalchemy.orm.session.Session object at 0x0000000006FE4BA8>

# Creating Database using Sqlalchemy

In [59]:
#create new engine

In [60]:
engine=db.\
create_engine('mysql+mysqlconnector://root:akm@localhost:3306/')

In [61]:
engine

Engine(mysql+mysqlconnector://root:***@localhost:3306/)

In [64]:
#CREATE DATABASE

In [63]:
engine.execute('CREATE DATABASE test_mysql_sa;')

In [65]:
#NEW SQLite DATABASE

In [66]:
engine=db.create_engine('sqlite:///new_sqlite.db')

In [67]:
engine

Engine(sqlite:///new_sqlite.db)

In [68]:
connection=engine.connect()

In [69]:
#Creating Tables

In [122]:
engine=db.\
create_engine('mysql+mysqlconnector://root:akm@localhost:3306/test_mysql_sa')

In [123]:
connection=engine.connect()

In [124]:
metadata=db.MetaData()

In [125]:
metadata

MetaData(bind=None)

In [126]:
posts=db.Table('posts',metadata,
              db.Column('Id',db.Integer()),
              db.Column('Title',db.String(255)),
              db.Column('ViewCount',db.Integer()),
              db.Column('IsQuestion',db.Boolean()))

In [127]:
metadata.create_all(engine)

In [128]:
metadata

MetaData(bind=None)

In [106]:
#table object

In [107]:
posts

Table('posts', MetaData(bind=None), Column('Id', Integer(), table=<posts>), Column('Title', String(length=255), table=<posts>), Column('ViewCount', Integer(), table=<posts>), Column('IsQuestion', Boolean(), table=<posts>), schema=None)

In [109]:
list(posts.c)

[Column('Id', Integer(), table=<posts>),
 Column('Title', String(length=255), table=<posts>),
 Column('ViewCount', Integer(), table=<posts>),
 Column('IsQuestion', Boolean(), table=<posts>)]

In [111]:
dir(posts)

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_columns',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_dependencies',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_prefixes',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

In [112]:
#here in table 'posts' all value is null so now we will add some values in this table

In [129]:
posts_two=db.Table('posts_two',metadata,
              db.Column('Id',db.Integer(),primary_key=True,unique=True),
              db.Column('Title',db.String(255),nullable=False),
              db.Column('ViewCount',db.Integer(),default=1000),
              db.Column('IsQuestion',db.Boolean(),default=True))

In [130]:
metadata.create_all(engine)

In [131]:
posts_two

Table('posts_two', MetaData(bind=None), Column('Id', Integer(), table=<posts_two>, primary_key=True, nullable=False), Column('Title', String(length=255), table=<posts_two>, nullable=False), Column('ViewCount', Integer(), table=<posts_two>, default=ColumnDefault(1000)), Column('IsQuestion', Boolean(), table=<posts_two>, default=ColumnDefault(True)), schema=None)

In [133]:
list(posts_two.c)

[Column('Id', Integer(), table=<posts_two>, primary_key=True, nullable=False),
 Column('Title', String(length=255), table=<posts_two>, nullable=False),
 Column('ViewCount', Integer(), table=<posts_two>, default=ColumnDefault(1000)),
 Column('IsQuestion', Boolean(), table=<posts_two>, default=ColumnDefault(True))]

In [134]:
dir(posts_two)

['__and__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_annotate',
 '_annotations',
 '_autoincrement_column',
 '_autoload',
 '_clone',
 '_cloned_set',
 '_cols_populated',
 '_columns',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_extra_dependencies',
 '_extra_kwargs',
 '_from_objects',
 '_hide_froms',
 '_init',
 '_init_collections',
 '_init_existing',
 '_init_items',
 '_is_clone_of',
 '_is_from_container',
 '_is_join',
 '_is_lateral',
 '_is_lexical_equivalent',
 '_is_select',
 '_kw_reg_for_dialect',
 '_kw_reg_for_dialect_cls',
 '_kw_registry',
 '_memoized_property',
 '_negate',
 '_order_by_label_element',
 '_params',
 '_populate_column_collection',
 '_prefixes',
 '_refresh_for_new_column',
 '_reset_exported',
 '_schema_item_copy',
 '_select_iterable',
 '_set_parent',
 '_set_parent_with_dispatch',
 '_sorted_constraints',
 '_textual',
 '_translate_schema',
 '_validate_dialect_kwargs',
 '_with_annotations',
 'add_is_dependent_on',
 'alias',
 'append_column',
 'append_constraint',
 'append_ddl_listener',
 'argument_for',
 'bind',
 'c',
 'columns',
 'comment',
 'compare',
 'compile',
 'constraints',
 'correspond_on_equivalents',
 'corresponding_column',
 'count',
 'create',
 'delete',
 'description',
 'dialect_kwargs',
 'dialect_options',
 'dispatch',
 'drop',
 'exists',
 'foreign_key_constraints',
 'foreign_keys',
 'fullname',
 'get_children',
 'implicit_returning',
 'indexes',
 'info',
 'insert',
 'is_clause_element',
 'is_derived_from',
 'is_selectable',
 'join',
 'key',
 'kwargs',
 'lateral',
 'metadata',
 'name',
 'named_with_column',
 'outerjoin',
 'params',
 'primary_key',
 'quote',
 'quote_schema',
 'replace_selectable',
 'schema',
 'select',
 'selectable',
 'self_group',
 'supports_execution',
 'tablesample',
 'tometadata',
 'unique_params',
 'update']

# create table object

In [35]:
import sqlalchemy as db

In [36]:
engine=db.create_engine('sqlite:///sqlalchemy_sqlite.db',echo=True)

In [37]:
connection=engine.connect()

2019-07-15 11:58:09,875 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-15 11:58:09,877 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 11:58:09,880 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-15 11:58:09,880 INFO sqlalchemy.engine.base.Engine ()

In [38]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [39]:
Base=declarative_base()      #base object

In [40]:
class User(Base):
    __tablename__='user'
    Id=db.Column(db.Integer(),primary_key=True)
    Name=db.Column(db.String())

In [19]:
#2nd class to demonstrate constrains

In [20]:
class Post(Base):
    __tablename__='post'
    Id=db.Column(db.Integer(),primary_key=True)
    Title=db.Column(db.String(255),nullable=False)
    ViewCount=db.Column(db.Integer(),default=1000)
    Question=db.Column(db.Boolean(),default=True)
    OwnerUserId=db.Column(db.Integer(),db.schema.ForeignKey('user.Id'),nullable=False)

In [21]:
#declare relationship using backref

In [22]:
User=relationship('User',backref='post')

In [23]:
Base.metadata.create_all(engine)

2019-07-15 11:53:19,518 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2019-07-15 11:53:19,519 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 11:53:19,521 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("post")
2019-07-15 11:53:19,522 INFO sqlalchemy.engine.base.Engine ()

# Inserting Data with sql statement

In [248]:
connection=engine.connect()

In [249]:
metadata=db.MetaData()

In [250]:
metadata

MetaData(bind=None)

In [251]:
users=db.Table('user',metadata,autoload=True,autoload_with=engine)

2019-07-12 19:12:51,479 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2019-07-12 19:12:51,480 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,512 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-12 19:12:51,514 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,583 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("user")
2019-07-12 19:12:51,583 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,586 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-12 19:12:51,588 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,589 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("user")
2019-07-12 19:12:51,589 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,598 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("user")
2019-07-12 19:12:51,599 INFO sqlalchemy.engine.base.Engine ()
2019-07-12 19:12:51,600 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-12 19:12:51,601 INFO sqlalchemy.engine.base.Engine ()

In [252]:
stmt=db.insert(users).values(Name='Aman')

In [253]:
result=connection.execute(stmt)

2019-07-12 19:12:55,772 INFO sqlalchemy.engine.base.Engine INSERT INTO user ("Name") VALUES (?)
2019-07-12 19:12:55,773 INFO sqlalchemy.engine.base.Engine ('Aman',)
2019-07-12 19:12:55,784 INFO sqlalchemy.engine.base.Engine COMMIT

In [254]:
result.rowcount

1

# Insert Using Session##########################

In [28]:
from sqlalchemy.orm import sessionmaker

In [29]:
session=sessionmaker()

In [30]:
session.configure(bind=engine)

In [31]:
my_session=session()

In [32]:
my_session

In [41]:
#create the instance of user class
Rohit=User(Name='Rohit')
Mohit=User(Name='Mohit')

In [284]:
#then add and commit
my_session.add(Rohit)
my_session.add(Mohit)

In [285]:
my_session.new

IdentitySet([<__main__.User object at 0x0000000007315208>, <__main__.User object at 0x0000000007315390>])

In [286]:
my_session.commit()

2019-07-15 11:10:53,009 INFO sqlalchemy.engine.base.Engine INSERT INTO user ("Name") VALUES (?)
2019-07-15 11:10:53,010 INFO sqlalchemy.engine.base.Engine ('Rohit',)
2019-07-15 11:10:53,014 INFO sqlalchemy.engine.base.Engine INSERT INTO user ("Name") VALUES (?)
2019-07-15 11:10:53,014 INFO sqlalchemy.engine.base.Engine ('Mohit',)
2019-07-15 11:10:53,016 INFO sqlalchemy.engine.base.Engine COMMIT

In [287]:
for each_user in my_session.query(User).all():
    print(each_user.Name)

2019-07-15 11:10:53,744 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-15 11:10:53,746 INFO sqlalchemy.engine.base.Engine SELECT user."Id" AS "user_Id", user."Name" AS "user_Name"
FROM user
2019-07-15 11:10:53,747 INFO sqlalchemy.engine.base.Engine ()
Aman
Aman
Rohit
Rohit
Mohit

# Manipulating Data using SQL

In [288]:
engine=db.create_engine('sqlite:///sqlalchemy_sqlite.db')

In [289]:
connection=engine.connect()

In [294]:
engine.execute('select*from User').fetchone()

(1, 'Aman')

In [295]:
engine.execute('select*from User').fetchall()

[(1, 'Aman'), (2, 'Aman'), (3, 'Rohit'), (4, 'Rohit'), (5, 'Mohit')]

In [25]:
#update

In [47]:
query=db.update(User).\
      values(Name=User.Name+'Amit')
result=connection.execute(query)

2019-07-15 11:59:27,692 INFO sqlalchemy.engine.base.Engine UPDATE user SET "Name"=(user."Name" || ?)
2019-07-15 11:59:27,695 INFO sqlalchemy.engine.base.Engine ('Amit',)
2019-07-15 11:59:27,705 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
engine.execute('select*from User').fetchall()

2019-07-15 11:59:30,378 INFO sqlalchemy.engine.base.Engine select*from User
2019-07-15 11:59:30,379 INFO sqlalchemy.engine.base.Engine ()

[(1, 'AmanAmitAmitAmit'),
 (2, 'AmanAmitAmitAmit'),
 (3, 'RohitAmitAmitAmit'),
 (4, 'RohitAmitAmitAmit'),
 (5, 'MohitAmitAmitAmit')]

# Deleting Data from record

In [49]:
my_session.query(User.Name).all()

2019-07-15 11:59:35,218 INFO sqlalchemy.engine.base.Engine SELECT user."Name" AS "user_Name"
FROM user
2019-07-15 11:59:35,221 INFO sqlalchemy.engine.base.Engine ()

[('AmanAmitAmitAmit'),
 ('AmanAmitAmitAmit'),
 ('RohitAmitAmitAmit'),
 ('RohitAmitAmitAmit'),
 ('MohitAmitAmitAmit')]

In [51]:
first_user=my_session.query(User).first()
first_user.Name

2019-07-15 12:02:01,205 INFO sqlalchemy.engine.base.Engine SELECT user."Id" AS "user_Id", user."Name" AS "user_Name"
FROM user
 LIMIT ? OFFSET ?
2019-07-15 12:02:01,208 INFO sqlalchemy.engine.base.Engine (1, 0)

'AmanAmitAmitAmit'

In [52]:
my_session.delete(first_user)

In [56]:
my_session.query(User.Name).all()
my_session.commit()

2019-07-15 12:05:12,681 INFO sqlalchemy.engine.base.Engine SELECT user."Name" AS "user_Name"
FROM user
2019-07-15 12:05:12,682 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:05:12,685 INFO sqlalchemy.engine.base.Engine COMMIT

In [57]:
#Deleting a Table

In [58]:
metadata=db.MetaData()
metadata.reflect(bind=engine)
metadata.tables.keys()

2019-07-15 12:14:20,239 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-15 12:14:20,241 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,297 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("post")
2019-07-15 12:14:20,298 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,300 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'post' AND type = 'table'
2019-07-15 12:14:20,301 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,302 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("post")
2019-07-15 12:14:20,303 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,303 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'post' AND type = 'table'
2019-07-15 12:14:20,304 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,306 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user")
2019-07-15 12:14:20,307 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,308 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-15 12:14:20,309 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,310 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("user")
2019-07-15 12:14:20,310 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,311 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-15 12:14:20,311 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,312 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("user")
2019-07-15 12:14:20,312 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,313 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("user")
2019-07-15 12:14:20,314 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,314 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2019-07-15 12:14:20,315 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,317 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("post")
2019-07-15 12:14:20,317 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,320 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("post")
2019-07-15 12:14:20,321 INFO sqlalchemy.engine.base.Engine ()
2019-07-15 12:14:20,323 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'post' AND type = 'table'
2019-07-15 12:14:20,324 INFO sqlalchemy.engine.base.Engine ()

dict_keys(['post', 'user'])

In [59]:
metadata.tables

immutabledict({'post': Table('post', MetaData(bind=None), Column('Id', INTEGER(), table=<post>, primary_key=True, nullable=False), Column('Title', VARCHAR(length=255), table=<post>, nullable=False), Column('ViewCount', INTEGER(), table=<post>), Column('Question', BOOLEAN(), table=<post>), Column('OwnerUserId', INTEGER(), ForeignKey('user.Id'), table=<post>, nullable=False), schema=None), 'user': Table('user', MetaData(bind=None), Column('Id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('Name', VARCHAR(), table=<user>), schema=None)})

In [60]:
user_table=metadata.tables['user']

In [61]:
user_table

Table('user', MetaData(bind=None), Column('Id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('Name', VARCHAR(), table=<user>), schema=None)

In [62]:
#Drop Table

In [ ]:
#user_table.drop(bind=engine)